{
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["mocha", "node"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-console": "off",
    "no-unused-vars": [
      "error",
      {
        "args": "none",
        "vars": "local",
        "varsIgnorePattern": "should|expect"
      }
    ],
    "quotes": [2, "single", { "avoidEscape": true }],
    "mocha/no-exclusive-tests": "error",
    "node/exports-style": ["error", "module.exports"],
    "node/no-unpublished-require": 0
  }
}
